<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img
                      src="/src/assets/images/laurica.jpeg"
                      class="img-fluid rounded b-shadow-a"
                      alt="Laura"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p>
                      <span class="title-s">Nume: </span>
                      <span>Laura Elena</span>
                    </p>
                    <p>
                      <span class="title-s">Profil: </span>
                      <span>Full Stack Developer</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>elaura39@yahoo.com</span>
                    </p>
                    <p>
                      <span class="title-s">Telefon: </span>
                      <span>+40 760 695 922</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>
                <span>HTML</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>CSS3</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>PHP</span> <span class="pull-right">50%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 50%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>JAVASCRIPT</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">About me</h5>
                </div>
                <p class="lead">
                  Sunt asistent medical generalist cu 3 ani de experiență în
                  domeniul clinic și alți 3 ani ca asistent în laborator, unde
                  am dezvoltat atenția la detalii, gândirea analitică și
                  capacitatea de a lucra riguros după proceduri. În ultimul an,
                  am urmat un curs de
                  <i>Front-End Development (JavaScript)</i> și am dobândit
                  cunoștințe esențiale de Back-End Development, pregătindu-mă
                  pentru o carieră în IT. Îmbin experiența profesională
                  acumulată în domeniul medical unde disciplina,
                  responsabilitatea și lucrul în echipă sunt esențiale cu
                  abilitățile tehnice în dezvoltarea web, pentru a mă dezvolta
                  ca Full-Stack Developer.
                </p>
                <p class="lead">
                  <strong><i>Competențe cheie:</i></strong>
                  Front-End: HTML, CSS, JavaScript; Back-End: concepte și
                  tehnologii esențiale; Analiză și rezolvare de probleme;
                  Atenție la detalii și gândire logică; Adaptabilitate și
                  învățare continuă; Experiență de lucru în echipă și
                  respectarea procedurilor stricte.
                </p>
                <p class="lead">
                  <strong><i> Obiectiv profesional: </i></strong>
                  Să îmi construiesc o carieră în IT, punând în valoare atât
                  abilitățile tehnice dobândite recent, cât și experiența
                  profesională anterioară, pentru a contribui la proiecte de
                  dezvoltare web moderne și inovatoare.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
