<!-- resume Section
   ================================================== -->
   <section id="resume" class="grey-section sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Experiență profesională</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-person-workspace"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Asistent medical generalist</h3>
                                        <p>Martie 2020 - Aprilie 2023</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Perioadă de debut</h4>
                                        <p>Am asigurat îngrijirea și supravegherea stării de sănătate a copiilor, 
                                            monitorizând dezvoltarea lor zilnică și aplicând procedurile medicale de bază. 
                                            Am colaborat cu echipa educațională și cu părinții pentru a oferi un mediu sigur și sănătos, 
                                            dezvoltând empatie, responsabilitate și abilități excelente de comunicare.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-briefcase-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Asistent medical Laborator de Anatomie Patologică (aproximativ 3 ani)</h3>
                                        <p>Martie 2023 - Prezent</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Dezvoltare continuă</h4>
                                        <p>Am gestionat și prelucrat probe biologice pentru analize și examinări microscopice, 
                                            respectând cu strictețe procedurile de laborator și normele de siguranță. 
                                            Am colaborat cu medicii specialiști pentru obținerea rezultatelor corecte și 
                                            am dezvoltat atenția la detalii și rigurozitatea în activitatea de zi cu zi.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-bank"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Front-End Developer JavaScript</h3>
                                        <p>Noiembrie 2024 - Prezent</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Link Academy</h4>
                                        <p>Am urmat un program intensiv de Front-End Development, învățând HTML, 
                                            CSS și JavaScript, precum și bune practici în dezvoltarea web. 
                                            Am dobândit abilități practice în crearea de interfețe interactive și 
                                            responsive și am început să explorez concepte esențiale de Back-End pentru a mă dezvolta ca Full-Stack Developer.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="row resume-timeline">

                        <div class="col-twelve resume-header">

                            <h2>Educație</h2>

                        </div> <!-- /resume-header -->

                        <div class="col-twelve">

                            <div class="timeline-wrap">

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Studii superioare</h3>
                                        <p>Septembrie 2018 - Martie 2021</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Școala Postliceală Sanitară „Carol Davila” București</h4>
                                        <p>
                                            Am urmat cursurile Școlii Postliceale Sanitare, dobândind cunoștințe teoretice 
                                            și practice în domeniul asistenței medicale, dezvoltând competențe esențiale 
                                            pentru îngrijirea pacienților și lucrul în echipă.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Certificat de calificare profesionala</h3>
                                        <p>Martie 2021</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Școala Postliceală Sanitară „Carol Davila” București</h4>
                                        <p>
                                            Am obținut certificatul de calificare profesională ca Asistent Medical Generalist, 
                                            demonstrând competențe în îngrijirea pacienților, administrarea tratamentelor și 
                                            colaborarea eficientă cu echipele medicale.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-mortarboard-fill"></i>
                                    </div>

                                    <div class="timeline-header">
                                        <h3>Certificat laborant</h3>
                                        <p>Martie 2024 - Mai 2025</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Echivalare Studii</h4>
                                        <p>
                                            Am obținut certificatul de echivalare a studiilor pentru calificarea de Laborant, 
                                            care atestă competențele mele în prelucrarea și analiza probelor biologice, 
                                            precum și în utilizarea echipamentelor de laborator.
                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->

                                <div class="timeline-block">

                                    <div class="timeline-ico">
                                        <i class="bi bi-backpack"></i>
                                    </div>


                                    <div class="timeline-header">
                                        <h3>Cursuri IT</h3>
                                        <p>Noiembrie 2024 - Prezent</p>
                                    </div>

                                    <div class="timeline-content">
                                        <h4>Link Academy București</h4>
                                        <p>Front-End Developer JavaScript

                                        </p>
                                    </div>

                                </div> <!-- /timeline-block -->
                                

                            </div> <!-- /timeline-wrap -->

                        </div> <!-- /col-twelve -->

                    </div> <!-- /resume-timeline -->

                    <div class="col-twelve resume-header">

                        <h2>Certificări</h2>

                    </div> <!-- /resume-header -->

                    <div class="col-twelve">

                        <div class="timeline-wrap">

                            <div class="timeline-block">

                                <div class="timeline-ico">
                                    <i class="bi bi-person-workspace"></i>
                                </div>

                                <div class="timeline-header">
                                    <h3>Certificat liberă practică corespunzător cadrului național al certificărilor</h3>
                                    <p>Martie 2021 - Prezent</p>
                                </div>

                                <div class="timeline-content">
                                    <h4>Certificat liberă practică corespunzător cadrului național al certificărilor</h4>
                                    <p>Am obținut certificatul care atestă competențele mele ca Asistent Medical Generalist, 
                                        conform standardelor naționale de formare profesională. Acest certificat îmi permite să practic 
                                        profesia de asistent medical în România, demonstrând cunoștințe și abilități esențiale în domeniu.
                                    </p>
                                </div>

                            </div> <!-- /timeline-block -->

                            <div class="timeline-block">

                                <div class="timeline-ico">
                                    <i class="bi bi-briefcase-fill"></i>
                                </div>

                                <div class="timeline-header">
                                    <h3>Certificat de membru OAMGMAMR</h3>
                                    <p>Martie 2021 - Prezent</p>
                                </div>

                                <div class="timeline-content">
                                    <h4>Certificat de membru OAMGMAMR - Aviz liberă practică</h4>
                                    <p>
                                        Am obținut certificatul de membru al Ordinului Asistenților Medicali Generaliști, 
                                        Moașelor și Asistenților Medicali din România (OAMGMAMR), care atestă că sunt înregistrată 
                                        ca asistent medical și că am dreptul să practic profesia în conformitate cu legislația națională.
                                    </p>
                                </div>

                            </div> <!-- /timeline-block -->

                    

                        </div> <!-- /timeline-wrap -->

                    </div> <!-- /col-twelve -->

                </div> <!-- /resume-timeline -->
                </div>
            </div>
        </div>
    </div>
</section> <!-- /features -->