<!-- ======= Portofolio Section ======= -->
<section id="portofolio" class="portofolio-mf sect-pt4 pb-2 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Portofoliu
                    </h3>
                    <p class="subtitle-a">
                        Ultimele proiecte finalizate
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="" data-gallery="portofolioGallery" class="portofolio-lightbox">
                        <div class="work-img">
                            <img src="/src/assets/images/mycvv777.png" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">CV</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Proiecte</span> / <span class="w-date">01.2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/src/assets/images/proiecte.jpeg" data-gallery="portofolioGallery" class="portofolio-lightbox">
                        <div class="work-img">
                            <img src="/src/assets/images/proiecte.jpeg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Proiecte finalizate</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Proiecte</span> / <span class="w-date">11.2024</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="https://github.com/Laura-ship-in/laura-ship-in.github.io" data-gallery="portofolioGallery" class="portofolio-lightbox">
                        <div class="work-img">
                            <img src="/src/assets/images/Build the Future of the Web 🚀.jpeg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title"></h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Proiecte</span> / <span class="w-date">01.2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="https://github.com/Laura-ship-in/wsbuilding" data-gallery="portofolioGallery" class="portofolio-lightbox">
                        <div class="work-img">
                            <img src="/src/assets/images/JavaScript_ 10 Surprising Facts You Need to Learn - FindTek.jpeg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Wsbuilding</h2>
                                <div class="w-more">
                                    <span class="w-ctegory"></span> / <span class="w-date">03.2025</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="images/work-5.jpg" data-gallery="portofolioGallery" class="portofolio-lightbox">
                        <div class="work-img">
                            <img src="images/work-5.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Studio Lena Mado</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">22 Jun. 2021</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="images/work-6.webp" data-gallery="portofolioGallery" class="portofolio-lightbox">
                        <div class="work-img">
                            <img src="images/work-6.webp" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">Studio Big Bang</h2>
                                <div class="w-more">
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">26 Jan. 2022</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="#portofolio"> <span class="bi bi-plus-circle"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Portofolio Section -->